
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100vh;

       .buttonexit{
        height: 50px;
        background-color: #0c1532;
        color: cadetblue;
        border-radius: 4px;
        border: none;
        color: #fff;
        align-self: flex-start;
        float: right;
        position: fixed;
        }

    .homepanel {
        text-align: center;

        h1 {
            color: rgb(23, 2, 43);
        }

        h2 {
            color: rgb(26, 10, 41);
        }

        .buttonstart {
            width: auto;
            height: 50px;
            background-color: #0c1532;
            color: cadetblue;
            border-radius: 4px;
            border: none;
            color: #fff;
            text-align: center;
            padding: 16px;
            transition: all 0.2s;
            cursor: pointer;
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

            &:after {
                content: "»";
                opacity: 0;
                transition: 0.2s;
            }

            &:hover {
                padding-right: 24px;
                padding-left: 8px;
            }

            &:hover:after {
                opacity: 1;
                right: 10px;
            }
        }
    }

    .questionspanel {
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .progressbar {
            width: 100%;
            height: 20px;
            margin: 8px auto;
            background: #f0f5f9;
            border-radius: 20px;
            box-shadow: inset 0 0 5px #000;

            .innerbar {
                height: 100%;
                background: #395785;
                border-radius: inherit;
                transition: width 0.2s ease-in;
            }
        }

        h2 {
            width: 100%;
            background-color: #0c1532;
            color: cadetblue;
            border-radius: 4px;
            border: none;
            color: #fff;
            text-align: center;
            align-self: center;
        }

        label.radio {
            display: flex;
            text-align: left;
            padding: 15px;
            margin-bottom: 5px;
            font-size: 20px;
            background-color: #b6cceb;
        }

        label.radio+.radio {
            margin-left: 0;
        }

        label.radio input {
            margin-right: 10px;
        }
    }

    .errortext {
        text-align: center;
        color: rgb(128, 3, 3);
        font-size: 1.5vw;
    }

    .buttonnext {
        width: auto;
        height: 50px;
        background-color: #0c1532;
        color: cadetblue;
        border-radius: 4px;
        border: none;
        color: #fff;
        text-align: center;
        align-self: center;
    }

    .endpanel {
        text-align: center;

        button {
            width: auto;
            height: 50px;
            background-color: #0c1532;
            color: cadetblue;
            border-radius: 4px;
            border: none;
            color: #fff;
            text-align: center;
            padding: 16px;
            transition: all 0.2s;
            cursor: pointer;
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

            &:hover {
                color: #001f3f;
                background-color: #fff;
            }
        }
    }

    .modalpanel {
        text-align: justify;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;
        align-items: center;
         background-color: #C5D5EF;
         margin-left: 20%;

      .modalheader {

        display: flex;
        flex-direction: column;
        align-items: center;

       .modaltitle{
           width: 100%;
          color:  #0c1532;
          padding: 5px;
       }
        .buttondelete {
            width: min-content;
            height: min-content;
            background-color: #0c1532;
            color: cadetblue;
            border-radius: 4px;
            border: none;
            color: #fff;
            text-align: center;
            padding: 16px;
            transition: all 0.2s;
            cursor: pointer;
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

            &:hover {
                color: #001f3f;
                background-color: #fff;
            }
        }
    }
        .modalcontent{
               overflow: auto;
         flex-wrap: wrap;

        .correct {
            background-color: rgb(0, 139, 93);
            width: max-content;
        }

        .incorrect {
            background-color: rgb(139, 0, 0);
             width: max-content;
        }
    }
        }
}

@media screen and (max-width: 1024px) {
    .App {
        background: url("../../assets/marvelpic.jpg") no-repeat 45% top;
        background-size: cover;
        min-height: 50%;
    }
}
