
.cfb {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    position: fixed;
    margin-top: 5%;
    margin-left: 25%;

    width: 50%;
    height: 60%;

    box-shadow: 1px 2px 2px #6486B4;
    border: 0.1em solid #cccecf;
    border-radius: 0.5em;
    

    .banner-side {
        position: absolute;
        z-index: 2;
        right: 65%;

        border: 0.1em solid #6486B4;;
        border-radius: 0.5em;

        width: 35%;
        height: 100%;

        flex-direction: column;

        background-color: #6486B4;
        opacity: 1;

        color: #EEFCF8;
        text-align: center;

        transition: 2s;
    }


    .form-side {
        position: absolute;
        z-index: 1;
        right: 0;

        border: 0.1em solid #6486B4;
        ;
        border-radius: 0.5em;

        width: 65%;
        height: 100%;

        background-color: #cadfff;
        opacity: 1;

        font-weight: bold;
        color: #035E7B;

        transition: 2s;

        .buttonauth {
            width: auto;
            height: auto;
            background-color: #eaedf5;
            color: cadetblue;
            border-radius: 4px;
            border: none;
            color: #fff;
            text-align: center;
            padding: 16px;
            transition: all 0.2s;
            cursor: pointer;
            box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);

            &:hover {
                color: #001f3f;
                background-color: #fff;
            }
        }
    }

    .send-right {
        right: 0;
    }

    .send-left {
        right: 35%;
    }
}


.form-comp {
    flex-direction: column;
}

.sign-up-form {
    width: 50%;
    flex-direction: column;

     .messages{
        text-align: center;
          font-size: 14px;
          color: red;
          font-style: normal red;

          .succsess{
               color: green;
          }
    }
}

.sign-up-form>label {
    padding: 0.5em;
    width: 100%
}

.sign-up-form>label>input {
    width: 100%
}

button {
    padding: 1em;

    border: 1px solid #EEFCF8;
    border-radius: 5em;

    background-color: #EEFCF8;

    color: #01042e;
    font-weight: bold;
    text-decoration: none;
}

button:focus {
    outline: 0;
}

button:hover {
    opacity: 0.9;
}

.instructions {
    font-size: 0.6rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;

}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
     border: 1px solid #860e0e;
     border-radius: 0.5rem;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
.successmessage{
    color: rgb(9, 94, 64);
    text-align: center;
}